<header class="site-header">
  <div>
    <ul>
      <li>
        <span class="icon">
          <i class="fa fa-university fa-2x"></i>
        </span>
        <span class="intro">
          <h3>机构简介</h3>
          <p>
            本书中 Peter 邀你一起走进 Github 的世界。避开命令行，通过图形化客户端和网站交互来实现版本控制操作。Git 版本控制学起来挺复杂，这里展示的是一套最容易上手的操作方式，但是同时也足够强大，可以照顾到所有的日常使用情形。
          </p>
        </span>
      </li>
      <li>
        <span class="icon">
          <i class="fa fa-pencil fa-2x"></i>
        </span>
        <span class="intro">
          <h3>授课模式</h3>
          <p>本书中 Peter 邀你一起走进 Github 的世界。避开命令行，通过图形化客户端和网站交互来实现版本控制操作。Git 版本控制学起来挺复杂，这里展示的是一套最容易上手的操作方式，但是同时也足够强大，可以照顾到所有的日常使用情形。</p>
        </span>
      </li>
    </ul>
  </div>
</header>
