.site-header {
  background-color: $teal-color;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFF;
  li {
    position: relative;
    padding: 30px;
    .icon {
      position: absolute;
      top: 50%;
      margin-top: -40px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 3px solid #FFF;
      text-align: center;
    }
    .intro {
      margin-left: 110px;
      padding-left: 30px;
      border-left: 1px solid #FFF;
    }
    span {
      display: inline-block;
    }
    i {
      line-height: 74px;
    }
    h3 {
      font-size: 30px;
      font-weight: 500;
    }
  }
}
.main {
  min-height: 500px;
  background-color: #FFF;
}
.site-footer {
  padding: 30px 0;
  position: relative;
  color: #FFF;
  background-color: $teal-color;
  .slogan {
    width: 300px;
    margin: 0 auto;
    padding: 0 30px;
    background-color: $teal-color;
  }
  hr {
    position: absolute;
    top: 20px;
    height: 1px;
    border: 0;
    background-color: #FFF;
  }
  .contact {
    padding: 0 30px;
    li {
      display: inline-block;
      font-size: 14px;
      padding: 10px;
    }
  }
}
.career {
  margin-top: 30px;
  border-top: 1px solid #000;
  padding: 20px;
  ul li {
    // display: inline-block;
    float: left;
    margin-top: 15px;
    text-align: center;
    height: 80px;
    line-height: 80px;
  }
  .position {
    // padding: 25px 0;
    width: 140px;
    font-size: 22px;
    line-height: 80px;
    margin-left: 20px;
  }
  .short.position {
    padding: 15px 5px;
    line-height: 25px;
  }
  .long.position {
    width: 300px;
  }
  .red.position {
    background-color: #d95c5c!important;
    border-color: #d95c5c!important;
    color: #fff!important;
  }
  .green.position {
    background-color: #5bbd72!important;
    border-color: #5bbd72!important;
    color: #fff!important;
  }
  .blue.position {
    background-color: #3b83c0!important;
    border-color: #3b83c0!important;
    color: #fff!important;
  }
  .teal.position {
    background-color: #00b5ad!important;
    border-color: #00b5ad!important;
    color: #fff!important;
  }
  .yellow.position {
    background-color: #F57c00!important;
    border-color: #F57c00!important;
    color: #fff!important;
  }
  .deep-red.position {
    background-color: #d34836!important;
    border-color: #d34836!important;
    color: #fff!important;
  }
  .user {
    width: 80px;
    margin-left: 50px;
  }
  .green.user {
    color: #5bbd72;
  }
  .yellow.user {
    color: #F57c00;
  }
  .blue.user {
    color: #3b83c0;
  }
  .salary {
    line-height: 80px;
    color: #00b5ad;
    font-size: 22px;
    float: right;
  }
}
.web-design, .game-design {
  position: relative;
  border-top: 1px dotted #ddd;
  padding-top: 15px;
  padding-bottom: 15px;
  h4 {
    font-size: 14px;
    color: #666;
  }
  p {
    color: #555;
    font-size: 14px;
  }
  .title {
    font-size: 25px;
  }
  .picture {
    width: 240px;
    text-align: center;
    border: 1px solid red;
    color: $teal-color;
  }
  ol {
    width: 700px;
  }
}
.web-design .picture {
  margin-top: 0;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -50px;
}
.game-design {
  .picture {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -50px;
  }
  ol {
    float: right;
  }
}
