.site-header {
  background-color: $teal-color;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFF;
  li {
    position: relative;
    padding: 30px;
    .icon {
      position: absolute;
      top: 50%;
      margin-top: -40px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 3px solid #FFF;
      text-align: center;
    }
    .intro {
      margin-left: 110px;
      padding-left: 30px;
      border-left: 1px solid #FFF;
    }
    span {
      display: inline-block;
    }
    i {
      line-height: 74px;
    }
    h3 {
      font-size: 30px;
      font-weight: 500;
    }
  }
}
.main {
  background-color: #FFF;
}
.site-footer {
  padding: 30px 0 10px;
  color: #FFF;
  background-color: $teal-color;
  .slogan {
    background-color: $teal-color;
    border-bottom: 1px solid #FFF;
    margin: 0 30px;
    p {
      width: 300px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: -20px;
      line-height: 40px;
      font-size: 23px;
      background-color: $teal-color;
    }
  }
  .contact {
    padding: 20px 100px 0;
    li {
      display: inline-block;
      font-size: 14px;
      padding: 10px;
    }
  }
}
.career {
  padding-top: 30px;
  padding: 20px;
  ul li {
    float: left;
    margin-top: 15px;
    text-align: center;
    height: 80px;
    line-height: 80px;
  }
  .position {
    width: 140px;
    font-size: 22px;
    line-height: 80px;
    margin-left: 20px;
  }
  .short.position {
    padding: 15px 5px;
    line-height: 25px;
  }
  .long.position {
    width: 300px;
  }
  .red.position {
    background-color: #d95c5c!important;
    border-color: #d95c5c!important;
    color: #fff!important;
  }
  .green.position {
    background-color: #5bbd72!important;
    border-color: #5bbd72!important;
    color: #fff!important;
  }
  .blue.position {
    background-color: #3b83c0!important;
    border-color: #3b83c0!important;
    color: #fff!important;
  }
  .teal.position {
    background-color: #00b5ad!important;
    border-color: #00b5ad!important;
    color: #fff!important;
  }
  .yellow.position {
    background-color: #F57c00!important;
    border-color: #F57c00!important;
    color: #fff!important;
  }
  .deep-red.position {
    background-color: #d34836!important;
    border-color: #d34836!important;
    color: #fff!important;
  }
  .user {
    width: 80px;
    margin-left: 30px;
  }
  .green.user {
    color: #5bbd72;
  }
  .yellow.user {
    color: #F57c00;
  }
  .blue.user {
    color: #3b83c0;
  }
  .salary {
    line-height: 80px;
    color: #00b5ad;
    font-size: 22px;
  }
}
.web-design, .game-design {
  position: relative;
  border-top: 1px dotted #ddd;
  padding: 15px 30px;
  p {
    color: #666;
    font-size: 12px;
  }
  .title {
    font-size: 25px;
    font-weight: 100;
    padding-bottom: 10px;
  }
  .picture {
    width: 240px;
    text-align: center;
    color: $teal-color;
    .fa-5x {
      font-size: 10em;
    }
  }
  ol {
    width: 650px;
    padding-left: 40px;
    li {
      font-size: 14px;
      color: #555;
    }
  }
}
.web-design .picture {
  margin-top: 0;
  position: absolute;
  top: 50px;
  right: 30px;
}
.game-design {
  .picture {
    position: absolute;
    top: 50px;
    left: 30px;
  }
  ol {
    float: right;
  }
}
